.container {
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    width: 60vw;
    height: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 30vw;

    box-shadow: var(--border_shadow);

    background: var(--foreground_color_primary);
    border-radius: var(--border_radius_size);
}

p {
    color: var(--text_color);
}

ion-label {
    color: var(--text_color);
}