<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon size="large" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="editing == false">New Recipe</ion-title>
    <ion-title *ngIf="editing == true">Edit Recipe</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="createRecipe(recipe_name)">
        Done
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>

          <ion-item>
            <ion-input [(ngModel)]="recipe_name" clearInput="true" placeholder="Recipe Name"></ion-input>
          </ion-item>

          <ion-item-sliding *ngFor="let ingredient_name of ingredient_names; index as i" #sliding_item>

            <ion-item-options side="start">
              <ion-item-option color="danger" (click)="removeIngredient(i+1, sliding_item)">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>

            <ion-item>
              <ion-input [(ngModel)]="ingredient_names[i+1]" clearInput="true" placeholder="Ingredient {{i+1}}"></ion-input>
            
              <ion-input [(ngModel)]="ingredient_quantities[i+1]" type="number" maxlength="4" clearInput="true" placeholder="Quantity"></ion-input>
              
              <ion-select [(ngModel)]="ingredient_units[i+1]">
                <ion-select-option *ngFor="let unit of units; index as j;" value="{{units[j]}}">{{unit}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-item-sliding>
      
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
