<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon size="large" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="editing == false">New Recipe</ion-title>
    <ion-title *ngIf="editing == true">Edit Recipe</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="createRecipe(recipe_name, current_recipe[0], current_recipe[1], current_recipe[2])">
        Done
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>

          <ion-item>
            <ion-input [(ngModel)]="recipe_name" clearInput="true" placeholder="Recipe Name"></ion-input>
          </ion-item>

          <ion-item *ngFor="let ingredient of current_recipe[0]; index as i">
            <ion-input [(ngModel)]="current_recipe[0][i+1]" clearInput="true" placeholder="Ingredient {{i+1}}"></ion-input>
            <ion-input [(ngModel)]="current_recipe[1][i+1]" type="number" maxlength="4" clearInput="true" placeholder="Quantity"></ion-input>
            <ion-select [(ngModel)]="current_recipe[2][i+1]" #C (ionChange)="setUnit(C.value, i+1)">
              <ion-select-option *ngFor="let unit of units; index as i;" value="{{units[i]}}">{{unit}}</ion-select-option>
            </ion-select>
          </ion-item>
      
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
