<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModalDontSubmit()">
        <ion-icon size="large" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add Recipes to {{planner_date.day_of_week_alphabetical}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModalAndSubmit()">
        <ion-label>Done</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ng-container *ngIf="finished_loading == true;">
    <ion-list *ngIf="not_already_assigned_recipes?.length > 0; else no_recipes_left;">
      <ion-item *ngFor="let recipe of not_already_assigned_recipes; index as i;" [ngClass]="{checkedItem: recipe_indices[i] == true}">
        <ion-label>{{recipe.name}}</ion-label>
        <ion-checkbox [(ngModel)]="recipe_indices[i]" slot=end></ion-checkbox>
      </ion-item>
    </ion-list>
  </ng-container>

</ion-content>

<ng-template #no_recipes_left>
  <no-recipes>
    <ion-button (click)="navToRecipePage()">Add Recipe</ion-button>
  </no-recipes>
</ng-template>
