<ion-content>

  <ion-grid>

    <ion-row style="flex: 100;"></ion-row>
    
    <ion-row>
      <ion-col>
        <ion-text>
          <b>Welcome</b>
        </ion-text>
      </ion-col>
    </ion-row>
 
    <ion-row>
      <ion-col>
          <ion-input [(ngModel)]="username" class="top" placeholder="Username" clearInput="true"></ion-input>
          <ion-input [(ngModel)]="password" class="bottom" placeholder="Password" clearInput="true"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="login(username, password)">LOGIN</ion-button>
      </ion-col>
    </ion-row>
 
    <ion-row style="flex: 100;"></ion-row>
 
  </ion-grid>


</ion-content>