<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Shopping List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <bounce-in *ngIf="finished_loading == true;">
    <ng-container *ngIf="shopping_list?.length > 0; else elseBlock;">
      <ion-list class="shadow">
        <ion-item class="item_{{i}}" (ionChange)="checkAnimation(i,ingredient.checked)" *ngFor="let ingredient of shopping_list; index as i;" [ngClass]="{checkedItem: ingredient.checked == true}">
          <ion-label>{{ingredient.name}}</ion-label>
          <ion-label *ngIf="ingredient.quantity == 1;">{{ingredient.quantity}} {{ingredient.unit}}</ion-label>
          <ion-label *ngIf="ingredient.quantity != 1 && ingredient.unit != 'no unit';">{{ingredient.quantity}} {{ingredient.unit}}s</ion-label>
          <ion-label *ngIf="ingredient.unit == 'no unit';">{{ingredient.quantity}}</ion-label>
          <ion-checkbox [(ngModel)]="ingredient.checked" slot=end></ion-checkbox>
        </ion-item>
      </ion-list>
    </ng-container>
  </bounce-in>

  <ng-template #elseBlock>
    <bounce-in [duration]="250">
    <nothing-here>
      <ion-button (click)="presentModal()">Add Recipe</ion-button>
    </nothing-here>
      <div class="custom component"></div>
    </bounce-in>
  </ng-template>

</ion-content>
