<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Shopping List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <fade-in *ngIf="finished_loading == true && shopping_list?.length > 0; else elseBlock;">
    <ion-list class="shadow">
      <ion-item *ngFor="let ingredient of shopping_list; index as i;" [ngClass]="{checkedItem: ingredient.checked == true}">
        <ion-label>{{ingredient.name}}</ion-label>
        <ion-label *ngIf="ingredient.quantity == 1;">{{ingredient.quantity}} {{ingredient.unit}}</ion-label>
        <ion-label *ngIf="ingredient.quantity != 1;">{{ingredient.quantity}} {{ingredient.unit}}s</ion-label>
        <ion-checkbox [(ngModel)]="ingredient.checked" (ionChange)="checkIngredient(i, ingredient.checked)" slot=end></ion-checkbox>
      </ion-item>
    </ion-list>
  </fade-in>


  <ng-template #elseBlock>
    <fade-in [duration]="250">
    <no-recipes>
      <ion-button (click)="presentModal()">Add Recipe</ion-button>
    </no-recipes>
      <div class="custom component"></div>
    </fade-in>
  </ng-template>

</ion-content>
