<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Recipes</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="presentModal()">
        <ion-icon name="add-outline"></ion-icon>
        <p>Add Recipe</p>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <fade-in *ngIf="all_recipes?.length else elseBlock;">
    <ion-list class="shadow" >
      <ion-item-sliding class="item_{{i}}" *ngFor="let recipe of all_recipes; index as i">
        <ion-item-options side="start">
          <ion-item-option color="danger" (click)="deleteRecipe(i)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item>
          <ion-label>{{all_recipes?.[i]?.name}}</ion-label>
          <ion-buttons slot="end">
            <ion-button (click)="presentModal(all_recipes[i], true, i)">
              <ion-icon name="pencil-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </fade-in>

</ion-content>

<ng-template #elseBlock>
  <fade-in [duration]="250">
  <no-recipes>
    <ion-button (click)="presentModal()">Add Recipe</ion-button>
  </no-recipes>
    <div class="custom component"></div>
  </fade-in>
</ng-template>