<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Recipes</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="presentModal()">
        <ion-icon name="add-outline"></ion-icon>
        <p>Add Recipe</p>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let recipe of recipes_uncooked; index as i">
            <ion-label>{{recipes_uncooked?.[i]?.name}}</ion-label>

            <ion-buttons slot="end">
              <ion-button (click)="presentModal(i, true)">
                <ion-icon name="pencil-outline"></ion-icon>
              </ion-button>
              <ion-button (click)="deleteRecipe(i)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </ion-buttons>

          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

