@import '../global.scss';

ion-button {
  color: var(--text_color);
}

ion-avatar {
  width: 50px;
  height: 50px;

  ion-img {
    width: 50px;
    height: 50px;
  }
}

ion-menu::part(container) {
  border-radius: 0 35px 35px 0;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-icon {
  color: var(--ion-color-primary);
}

ion-list {
  --ion-background-color: rgba(0, 0, 0, 0);
}

ion-item {
  border-radius: 10px;
  --background: rgba(0, 0, 0, 0);
}

ion-item.selected {
  backdrop-filter: brightness(80%);
  ion-label {
    --color: var(--text_color);
  }
}

