@import '../../global.scss';


.date-title {
    display: flex;
    justify-content: center;
    p {
        padding-right: 10px;
    }
    padding-top: 10px;
    margin-bottom: 10px;
}


ion-datetime {
    --background: var(--foreground_color_primary);
    color: var(--bold_text_color);
    --title-color: blue
}

ion-grid {
    border-radius: var(--border_radius_size);
    margin: 10px;
    padding: 0px;
    background: var(--foreground_color_primary);

    ion-row {
        ion-col {
            padding: 0px;
        }
    }

    ion-button {
        padding: 0px; margin-left: 20px; margin-right: -10px;
    }
}

ion-row {
    flex: 1;
}

ion-slides {
    border-radius: var(--border_radius_size);
    --ion-background-color: var(--foreground_color_primary);
}
.slide-container {
    min-height: 50vh;
    background: var((--foreground_color_primary));
    margin: 10px;
    border-radius: var(--border_radius_size);
}

ion-slide {
    min-height: 50vh;

    display: block;
    width: 100vw;
    
    ion-list {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}

p {
    color: var(--text_color);
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

b {
    color: var(--bold_text_color);
}