<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Planner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <div class="date-title">
      <p>This shop should last until: </p>
      <b>{{end_date_formatted}}</b>
    </div>
    <ion-datetime min="{{now_formatted}}" (ionChange)="updateDate()" size="cover" presentation="date" [(ngModel)]="end_date_input"></ion-datetime>
  </ion-list>

  <div class="slide-container">
    <ion-slides>
      <ion-slide *ngFor="let date of dates_formatted; index as i;">

        <ion-list>
          <ion-item>
            <div class="list-title">
              <b>{{date[0]}}</b>
              <p>{{date[1]}}</p>
            </div>
            <ion-buttons slot="end">
                  <ion-button (click)="presentModal(dates_formatted[i][0])">
                    <ion-icon name="add-outline"></ion-icon>
                    <ion-label>Add</ion-label>
                  </ion-button>
                  <ion-button (click)="generateDates()">
                    <ion-icon name="pencil-outline"></ion-icon>
                    <ion-label>Edit</ion-label>
                  </ion-button>
            </ion-buttons>
          </ion-item>

          <ion-item *ngFor="let recipe of recipe_names; index as i;">
            <ion-label>{{recipe}}</ion-label>
            <ion-checkbox slot=end></ion-checkbox>
          </ion-item>

          <ion-item lines="none"></ion-item>
        </ion-list>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
