/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
  .dark_theme {
    --background_color_primary: #3C415C;
    --background_color_secondary: #212536;
    --background_color: linear-gradient(to bottom, var(--background_color_primary), var(--background_color_secondary));

    --foreground_color_primary: rgb(52, 52, 52);
    --foreground_color_secondary: rgb(42, 42, 42);
    --foreground_color: linear-gradient(to bottom, var(--foreground_color_primary), var(--foreground_color_secondary));;

    --text_color: rgb(220, 220, 220);
    --bold_text_color: rgb(255, 255, 255);

    --border_color: rgb(42, 42, 42);

    --ion-color-primary: rgb(119, 63, 141);

    --select_color: rgb(42, 42, 42);
    --border_radius_size: 20px;

    --border_shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;

  }
  
  .light_theme {
    --background_color_primary: #eeeeee;
    --background_color_secondary: #dbe8f0;
    --background_color: linear-gradient(to bottom, var(--background_color_primary), var(--background_color_secondary));

    --foreground_color_primary: rgb(255, 255, 255);
    --foreground_color_secondary: rgb(235, 235, 235);
    --foreground_color: linear-gradient(to bottom, var(--foreground_color_primary), var(--foreground_color_secondary));;


    --text_color: rgb(20, 20, 20);
    --bold_text_color: rgb(0, 0, 0);

    --border_color: rgb(210, 210, 210);

    --ion-color-primary: rgb(52, 140, 161);

    --select_color: rgb(200, 200, 200);
    --border_radius_size: 20px;
    --border_shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}

.divider {
  width: 98%;
  height: 1px;
  margin: auto;
  background-color: var(--border_color);
}

div.content {
  margin: 10px;
  background-color: var(--foreground_color_primary);
  border-radius: var(--border_radius_size);
}

ion-split-pane {
  --ion-background-color: var(--background_color);
}

ion-header {
  ion-toolbar {
    color: var(--text_color);
    --background: var(--foreground_color_primary);
  }
}

ion-content {
  --background: var(--background_color);
}

ion-list {
  --ion-background-color: var(--foreground_color_primary);
  border-radius: var(--border_radius_size);
  margin: 10px;
}

.shadow {
  box-shadow: var(--border_shadow);
}

ion-card {
  border-radius: var(--border_radius_size);
}

ion-card-title {
  color: var(--bold_text_color);
}

ion-item {
  color: var(--text_color);
  --background: var(--foreground_color_primary);
  --color-activated: var(--text_color);
  --highlight-color-valid: var(--ion-color-primary);
  --ripple-color: transparent;
  --background-activated: transparent;
  --background-activated-opacity:transparent;
  --background-focused: transparent;
  --background-focused-opacity:transparent;
  --background-hover  : transparent;
  --background-hover-opacity  :transparent;
}

ion-checkbox {
  --border-color: var(--border_color);
}

.checkedItem {
  --background: var(--select_color) !important;
}

ion-label {
  --color: var(--text_color);
}

ion-grid {
  ion-row {
    --ion-background-color: var(--foreground_color_primary);
  }
}

ion-input {
  background: var(--foreground_color_primary);
}

ion-alert {
  //background color
  .alert-wrapper.sc-ion-alert-md {
    background-color: var(--foreground_color_primary);
  }

  // Header Text
  .alert-title.sc-ion-alert-md {
    color: var(--text_color);
  }

  // checkbox border color
  [aria-checked="true"].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
    border-color: var(--ion-color-primary);
  }

  // checkbox or radio button color
  .alert-radio-inner.sc-ion-alert-md {
    background-color: var(--ion-color-primary) !important;
  }

  // wrap the text
  .alert-radio-label.sc-ion-alert-md {
    color: var(--text_color);
  }

  // Height of text
  .alert-tappable.sc-ion-alert-md {
    height: 77px !important;
  }

  // Checked text color
  [aria-checked="true"].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md {
    color: var(--ion-color-step-850, var(--bold_text_color));
  }

  // Button color
  .alert-button-inner.sc-ion-alert-md {
    color: var(--text_color);
  }
}