<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal(false)">
        <ion-icon size="large" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Change Date</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal(true)">Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-datetime min="{{now_date_datetime}}" size="cover" presentation="date" [(ngModel)]="end_date"></ion-datetime>
  </ion-list>

</ion-content>
