<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Statistics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <bounce-in [hidden]="planner_dates?.[0] == null">
    <ion-list>
      <canvas #food_usage_chart></canvas>
    </ion-list>
  
    <ion-list>
      <ion-label>{{food_ingredients_left}} of {{food_ingredients_total}} ingredients left</ion-label>
      <ion-progress-bar class="ingredient_progress_bar" value="{{ingredient_progress_bar}}"></ion-progress-bar>

      <ion-label>{{number_of_recipes - number_of_cooked_recipes}} of {{number_of_recipes}} recipes left</ion-label>
      <ion-progress-bar class="recipe_progress_bar" value="{{recipe_progress_bar}}"></ion-progress-bar>

      <ion-label>Time remaining</ion-label>
      <ion-label>{{time_days_left}} days, {{time_hours_left}} hours</ion-label>
      <ion-progress-bar value="{{time_progress_bar}}"></ion-progress-bar>
    </ion-list>
  </bounce-in>
  <bounce-in>
    <nothing-here [hidden]="planner_dates?.[0] != null">
      <ion-button (click)="navToPlanner()">Go to Planner</ion-button>
    </nothing-here>
  </bounce-in>
</ion-content>



