<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title>Appearance</ion-card-title>
          <ion-item>
            <ion-label>{{current_theme}}</ion-label>
            <ion-toggle slot="end" checked="dark_theme_on" (ionChange)="toggleTheme()"></ion-toggle>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Accent color</ion-label>
            <ion-select>
              <ion-select-option>Blue</ion-select-option>
              <ion-select-option>Purple</ion-select-option>
              <ion-select-option>Green</ion-select-option>
              <ion-select-option>Red</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title>Account</ion-card-title>
          <ion-item>
            <ion-label>Profile Name</ion-label>
            <ion-input style="text-align: end;" slot="end" placeholder="Michael"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Profile Picture</ion-label>
            <ion-icon name="image-outline"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>Delete Profile</ion-label>
            <ion-button color="danger">Delete Profile</ion-button>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title>System</ion-card-title>
          <ion-item>
            <ion-label>Clear all data</ion-label>
            <ion-button color="danger" (click)="clearData()">Clear Data</ion-button>
          </ion-item>
          <ion-item>
            <ion-label>Populate data</ion-label>
            <ion-button (click)="populateData()">Populate Data</ion-button>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title>Version</ion-card-title>
          <ion-label style="padding-left: 10px;">1.0.0</ion-label>

          <div class="divider"></div>

          <ion-buttons style="padding-bottom: 10px; padding-top: 10px;">
            <ion-button href="https://github.com/mellic03">
              <ion-icon name="logo-github"></ion-icon>
            </ion-button>
            <ion-button href="https://play.google.com">
              <ion-icon name="logo-google-playstore"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
